<!-- src/features/flashCards/newtemp/cards/verticalIndexCard3x5.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Landscape 5x3 Index Card View</title>

  <!-- If you need highlight.js theme -->
  <% if (typeof themeCSS === 'string') { %>
    <style><%- themeCSS %></style>
  <% } %>

  <style>
    /*
      Demo container to place front/back side by side,
      oriented horizontally (landscape).
    */
    .card1-landscape-container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      margin: 2rem auto;
      width: 90%;
    }

    /*
      Card is now 5in wide x 3in tall,
      a standard landscape index card size.
    */
    .front-wrapper-landscape,
    .back-wrapper-landscape {
      width: 5in;
      height: 3in;
      margin: 0 1rem;
      border: 1px solid #999;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
    }
  </style>
</head>
<body>
  <div class="card1-landscape-container">
    <div class="front-wrapper-landscape">
      <%- include('./front.ejs', {
        card,
        deckName,
        highlightCode
      }) %>
    </div>
    <div class="back-wrapper-landscape">
      <%- include('./back.ejs', {
        card,
        deckName,
        highlightCode
      }) %>
    </div>
  </div>
</body>
</html>
