<!-- /src/features/flashCards/newtemp/cards/vertical/businessCard-yugioh.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>businessCard Landscape View (Yu-Gi-Oh Size)</title>

  <!-- If you need highlight.js theme -->
  <% if (typeof themeCSS === 'string') { %>
    <style><%- themeCSS %></style>
  <% } %>

  <style>
    /*
      Demo container so you can see front/back side by side,
      oriented horizontally (landscape).
    */
    .card1-landscape-container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      margin: 2rem auto;
      width: 90%;
    }

    /*
      Card is now approx. 3.38in wide x 2.32in tall for Yu-Gi-Oh sizing.
      (86mm x 59mm, roughly)
    */
    .front-wrapper-landscape,
    .back-wrapper-landscape {
      width: 3.38in;
      height: 2.32in;
      margin: 0 1rem;
      border: 1px solid #999;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
    }
  </style>
</head>
<body>
  <div class="card1-landscape-container">
    <div class="front-wrapper-landscape">
      <%- include('./front.ejs', {
        card,
        deckName,
        highlightCode
      }) %>
    </div>
    <div class="back-wrapper-landscape">
      <%- include('./back.ejs', {
        card,
        deckName,
        highlightCode
      }) %>
    </div>
  </div>
</body>
</html>
